<!DOCTYPE HTML>
<html>
	<head>
        <title>Report Unethical Hiring Practices | GHOSTED!</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta property="og:title" content="GHOSTED! | Expose Unethical Hiring Practices">

        <meta property="og:description" content="Share your ghosted hiring experiences and help others avoid bad recruiters and hiring managers. Rate and review companies to promote recruitment transparency.">
        <meta name="keywords" content="GHOSTED, Expose recruiters, bad hiring practices, Anonymous job reviews, Phantom recruiters, Job application ghosting, recruiter ghosted, manager ghosted, Recruitment transparency, hiring manager ghosted, Hiring manager reviews, bad interviews, Recruiter reviews, Ghosted job search, Avoid ghosted jobs, AkotoTech, job search, recruitment, hiring practices">
        <meta property="og:image" content="/static/images/ghosted.jpg">
        <meta property="og:url" content="[https://ghostedjobs.net](https://ghostedjobs.net)">
        <meta property="og:type" content="website">

        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
        <!-- Favicon -->
        <link rel="icon" href="/static/images/ghosted.ico" type="image/x-icon">
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right" id="ghosted">
								<div class="content color0 span-3-75">
									<h1 class="major"><!--[-->GHOSTED!<!--]--><br /></h1>
                                    <h3>Shining a Light on Unethical Hiring Practices</h3>
									<p>Tired of being ghosted by recruiters and hiring managers after going through multiple interviews? Share your experience and warn others. Create a profile and help hold companies accountable for their bad hiring practices!</p>
									<ul class="actions">
										<li><a href="#ghostStories" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
                                    {{ if .BadRequestError }}
                                    <strong>
                                        <p style="color: #312f30;">{{ .BadRequestError }}</p>
                                    </strong>
                                    {{ end }}
                                    {{ if .InternalServerError }}
                                    <strong>
                                        <p style="color: #312f30;">{{ .InternalServerError }}</p>
                                    </strong>
                                    {{ end }}
                                    {{ if .AuthenticationError }}
                                    <strong>
                                        <p style="color: #312f30;">{{ .AuthenticationError }}</p>
                                    </strong>
                                    {{ end }}
                                    {{ if .NotFoundError }}
                                    <strong>
                                        <p style="color: #312f30;">{{ .NotFoundError }}</p>
                                    </strong>
                                    {{ end }}
                                    {{ if .ValidationError }}
                                    <strong>
                                        <p style="color: #312f30;">{{ .ValidationError }}</p>
                                    </strong>
                                    {{ end }}
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="/static/images/ghosted-potrait.png" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="ghostStories">
								<div class="content span-7">
									<h2 class="major">Ghost Stories</h2>
                                    <p>
                                        Job seekers often invest time, effort, and emotions into an interview process, 
                                        only to be left in the dark by recruiters or hiring managers who fail to follow 
                                        through with their promises. <strong style="color: #eb6b1b;">GHOSTED!</strong> is here to change that. 
                                        Our platform empowers candidates to share their experiences, highlighting companies 
                                        and individuals who engage in unethical practices like ghosting after interviews or 
                                        making false promises. By giving a voice to those who have been overlooked, we aim 
                                        to create transparency in the hiring process and hold companies accountable. 
                                        Whether you were ghosted by a recruiter, a hiring manager, or both, your story matters. 
                                        Let your experience guide others and bring about a much-needed change in how 
                                        professionals are treated during the hiring process.
                                    </p>
                                    <ul class="actions">
										<li><a href="#ghosted" class="button special color1 circle icon fa-angle-left">Back</a></li>
										<li><a href="#bustingGhosts" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="/static/images/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1" id="bustingGhosts">
								<div class="intro joined">
									<h2 class="major">Busting the Ghosts</h2>
                                    <p>
                                        Creating a review on <strong style="color: #eb6b1b;">GHOSTED!</strong> is easy and completely anonymous. Sign up using only a username and email. No personal information will be shared.
                                        Share your experience with the recruiter or hiring manager. You can provide details about the interview process, how you were ghosted, and rate your experience.
                                        You can choose the company you interviewed with. You can specify whether it was the recruiter, hiring manager, or both, and optionally name them in the review.
                                    </p>
                                    <ul class="actions">
                                        <li><a href="#ghostStories" class="button special color1 circle icon fa-angle-left">Back</a></li>
										<li><a href="#summonYourSpirit" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										<li><span class="icon fa-user-plus"><span class="label">Create an Account</span></span></li>
                                        <li><span class="icon fa-pencil"><span class="label">Write Your Review</span></span></li>
                                        <li><span class="icon fa-shield"><span class="label">Anonymity</span></span></li>
                                        <li><span class="icon fa-building"><span class="label">Select Company</span></span></li>
                                        <li><span class="icon fa-star"><span class="label">Rate Your Experience</span></span></li>
                                        <li><span class="icon fa-eye"><span class="label">Submit & View</span></span></li>
									</ul>
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight large left" id="summonYourSpirit">
								<div class="content span-5">
									<h2 class="major">Summon Your Spirit</h2>
                                    <p>
                                        Enter your details to login to and create a review.
                                    </p>
                                    <p>
                                        Don't have an account? Click 
                                        <a href="#createAccount">
                                            <strong style="color: #eb6b1b;">here</strong>
                                        </a> to create an account.
                                    </p>
                                    <form action="/login-profile" method="post">
                                        <div class="field">
                                            <label for="profileName">Profile Name</label>
                                            <input style="color: #bf6283;" type="text" name="profileName" id="profileName" placeholder="Enter your profile name..." required/>
                                        </div>
                                        <div class="field">
                                            <label for="profileEmail">Email</label>
                                            <input style="color: #bf6283;" type="email" name="profileEmail" id="profileEmail" placeholder="Enter your email..." required/>
                                        </div>
                                        <div class="field">
                                            <label for="profilePassword">Password</label>
                                            <input style="color: #bf6283;" type="password" name="profilePassword" id="profilePassword" placeholder="Enter your password..." required/>
                                        </div>
                                        <ul class="actions">
                                            <li><input type="submit" value="Login" class="button special" /></li>
                                        </ul>
                                        <ul class="actions">
                                            <li><a href="#bustingGhosts" class="button special color1 circle icon fa-angle-left">Back</a></li>
                                            <li><a href="#createAccount" class="button special color1 circle icon fa-angle-right">Next</a></li>
                                        </ul>
                                    </form>
								</div>
								<div class="gallery">
                                    <div class="group span-3">
                                        <a href="/static/images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom"><img src="/static/images/gallery/thumbs/01.jpg" alt="" /></a>
                                        <a href="/static/images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center"><img src="/static/images/gallery/thumbs/02.jpg" alt="" /></a>
                                        <a href="/static/images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom"><img src="/static/images/gallery/thumbs/03.jpg" alt="" /></a>
                                    </div>
                                    <a href="/static/images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top"><img src="/static/images/gallery/thumbs/04.jpg" alt="" /></a>
                                </div>
							</section>

						<!-- Panel -->
                        <section class="panel color4-alt" id="createAccount">
                            <div class="intro color4">
                                <h2 class="major">Awaken Your Spirit</h2>
                                <p>
                                    Join the movement against ghosting! Create an account today to share your interview experiences and empower others with the information they need to make informed decisions.
                                </p>
                            </div>
                            <div class="inner columns divided">
                                <div class="span-3-25">
                                    <form action="/create-account" method="post">
                                        <div class="field half">
                                            <label for="profileName">Profile Name</label>
                                            <input style="color: #eb6b1b;" type="text" name="profileName" id="profileName" placeholder="Create profile name..." required/>
                                        </div>
                                        <div class="field half">
                                            <label for="userEmail">Email</label>
                                            <input style="color: #eb6b1b;" type="email" name="userEmail" id="userEmail" placeholder="Enter valid email..." required/>
                                        </div>
                                        <div class="field">
                                            <label for="userPassword">Password</label>
                                            <input style="color: #eb6b1b;" type="password" name="userPassword" id="userPassword" placeholder="Create password..." required/>
                                        </div>
                                        <ul class="actions">
                                            <li><input type="submit" value="CREATE PROFILE" class="button special" /></li>
                                        </ul>
                                        <ul class="actions">
                                            <li><a href="#ghosted" class="button special color1 circle icon fa-angle-left">Back</a></li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="span-1-5">
                                    <ul class="contact-icons color1">
                                        <li class="icon fa-twitter"><a href="#">coming soon!</a></li>
                                        <li class="icon fa-facebook"><a href="#">coming soon!untitled</a></li>
                                        <li class="icon fa-snapchat-ghost"><a href="#">coming soon!</a></li>
                                        <li class="icon fa-instagram"><a href="#">coming soon!</a></li>
                                        <li class="icon fa-medium"><a href="#">coming soon!</a></li>
                                    </ul>
                                    <div class="copyright" style="color: #bf6283;">Powered by 
                                        <a href="https://akototech.org"
                                           target="_blank"
                                           rel="noopener noreferrer"
                                           style="color: #eb6b1b;">
                                            Akoto Tech &copy;
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

						<!-- Copyright -->
							<div class="copyright" style="color: #bf6283;">Powered by 
                                <a href="https://akototech.org"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                   style="color: #eb6b1b;">
                                    Akoto Tech &copy;
                                </a>
                            </div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>